<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>supervisor_account</mat-icon>
    </button>
    <button mat-raised-button color="primary"(click)="customerlist()">Customer List</button>
    <!-- <span>My App</span> -->
    <span class="example-spacer"></span>
    
    <button mat-raised-button color="primary"(click)="opendialog1()">Sign Up</button>
    <button mat-raised-button color="primary"(click)="opendialog()">Sign In</button>
    <button mat-raised-button color="warn" (click)="opendialog2()">Add Cart</button>
  </mat-toolbar>
  <div class="order">
        <h1>ORDER MANAGEMENT SYSTEM
           
        </h1>
        
      </div>
 
  <app-carousel [images]="images"
  [autoSlide]="true"
  ></app-carousel>
  
<router-outlet></router-outlet>