
<div *ngIf="images && images.length>0" class="carousal-container">
   <img *ngFor="let image of images; let i=index"
   [src]="image.imageSrc" [alt]="image.imageAlt"
   [ngClass]="{'image-active': selectedindex === i}"  
   class="fade"
   >  
<div *ngIf="indicators" class="carousal-dot-container">
      <span  *ngFor="let dot of images; let i=index"
          class="dot"
          [ngClass]="{'active': selectedindex ===i}"
          (click)="selectimage(i)"
          >
         </span>
</div>

</div>